/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.nav {
    background-color: #ec4d37;
}

.nav a {
    padding: 1rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.nav .icon {
    display: none;
}

@media screen and (max-width:600px) {
    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon {
        display: block;
        float: right;
    }
}


@media screen and (max-width:600px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav.responsive a {
        display: block;
        float: none;
    }
}